@import url(https://fonts.googleapis.com/css?family=Marcellus+SC|Varela+Round);

* {
  box-sizing: border-box;

}

body {
  font-family: 'Varela Round', Arial, sans-serif;
  color: rgb(60,75,98);
  margin: 0;
  padding:2em;
  background-color: rgb(201,185,162)
}


p {
  max-width: 900px;
  margin: 0 auto;
  color:rgb(60,75,98);
}


h1 {
  color: rgb(60,75,98);
  font-family: 'Marcellus SC', Arial, sans-serif;
  text-transform: lowercase;
  text-align: center;
  font-size: 2.5em;
}

h2 {
  
  color: rgb(198,107,102);
  text-transform: uppercase;
  font-size: 1.8em;
  letter-spacing: 3px;
}
h3 {
  
  font-size: 1.4em;
}
a{
  color:rgb(60,75,98);
}
.button {
  display: inline-block;
  text-align: center;
  width: 50%;
  min-width: 170px;
  max-width: 225px;
  margin: 0 auto;
  margin-bottom: 2em;
  position: ;
  text-decoration: none;
  border: 3px solid rgb(60,75,98);
  padding: .75em 1em .75em 1.25em;
  font-size: .9em;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(60,75,98);
  transition: all .1s ease;
}

.button::after {
  content: "▶";
  font-size: .7em;
  padding-left: 1em;
}

.button:hover {
  border: 3px solid rgb(60,75,98);
  background-color: rgb(60,75,98);
  color: rgb(201,185,162);

