<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Off the Vine Winery - History</title>
    <meta name="Off the Vine Winery History" content="In 1944, Cosmo Anthony Johnson owned and operated a small winery in Ashtabula, Ohio, serving the local area with wine and fresh pressed juice.">
    <link rel="icon" type="image/x-icon" href="../Assets/OffTheVine_Favicon.ico" />
  </head>

  <body>
      <link href="style.css" rel="stylesheet" type="text/css" media="screen" />
      <header role="banner">
        <a href="index.html">
          <img src="../Assets/OffTheVine_Logo.svg" alt="offthevine_logo" class="logo" />
        </a>
      <nav role="navigation">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">History</a></li>
          <li><a href="events.html">Events</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Store</a></li>
          <li><a href="#">Menu</a></li>
        </ul>
      </nav>
    </header>

    <main>
    <div class="hero-wrapper hero-image2">
    </div>
    <div class="primary">
      <main role="main">
      <h1>Johnson Family Vineyard History</h1>

      <p class="emdash">—</p>
      <p class="secparaopt">In 1944, Cosmo Anthony Johnson owned and operated a small winery in Ashtabula, Ohio, serving the local area with wine and fresh pressed juice.</p>
      <p>As wine consumption in America declined, and beer came into favor, he closed the winery and went to work for the New York Central Railroad. In 1957, having his fill of working for someone else, he started a small railroad construction company. He asked his son and daughter-in-law, Larry & Ida, to join the company in 1962. By the mid 70's, Larry's sons and nephews began working in the railroad industry.
One day in 1974, on the way back from work, Cosmo directed his grandson Larry Jr. to jump the fence surrounding the Burkholder farm and pick some fresh grapes. This small event brought the dream of this winery to our family. In 1991, Larry Jr. read in the paper that a grape farm was being auctioned. He recognized it as the same farmland where he had jumped the fence to grab a cluster of grapes with his grandfather. On the following weekend the family gathered at the auction and with one giant leap of faith bought the farm.</p>
      <p class="secpara">Since 2002 the dream of owning a winery has become Larry Jr's. and his wife Kim's reality. This event tied the generations back together. They can be found periodically sipping wine on the weekends with family & friends at the winery.</p>

      <a href="events.html" class="button">Events</a>
    </div>

    <div class="hero-wrapper hero-image3">
      <div class="wrapper">
      <blockquote>We dedicate, in our grandfather's memory, Off the Vine. Just as important and influential in our families' lives are our parents, Larry & Ida Laurello. They continue to own and operate Delta Railroad Construction, Inc. Both have been instrumental in bringing about the dream of the winery.</blockquote>
    </div>
    </div>

  <div class="secondary">
    <h1 class="sec-h1">Testimonials</h1>
          <p class="emdash">—</p>
      <dl class="test">
        <dt>Kim & Larry</dt>
        <dd>"I can't believe it is going on 9 years since you opened. Each and every time we come to your cantina we are welcomed by the entire staff. The food is yummy and the wines unique and fabulous. We are impressed with all the compliments you have made at the winery and always look forward to our visit from Cleveland."</dd>
        <dt>Susan</dt>
        <dd>"Just wanted to say thank you for a fabulous job you did with all of us when we visited this December unannounced. You made the wine tasting very enjoyable and we enjoyed all our purchases this Christmas. We will be back up to see you soon."</dd>
        <dt>Regina</dt>
        <dd>"Thank you very much for your hospitality, knowledge and kindness while I visited Off the Vine Vineyards. I enjoyed your fine wines and company."</dd>
        <dt>Diane</dt>
        <dd>"Thank you for a great Valentine's Day Dinner. It was a great night and a beautiful dinner. We only had four days with my cousin and your dinner was the hit of the weekend. I'm sure it was a lot of work and it was worth all your efforts, it was wonderful."</dd>
      </dl>

  </div>
</main>

    <footer role="contentinfo">
      <h2>Contact</h2>
      <dl>
        <dt>Address</dt>
        <dd>1050 Riverside Road, Geneva, OH 44205</dd>
        <dt>Phone</dt>
        <dd>800-672-3031 or local 330-672-3031</dd>
        <dt>Email</dt>
        <dd><a href="mailto:info@onthevinevinyards.com">info@onthevinevinyards.com</a></dd>
      </dl>
      <p class="credit">Website designed by John Vrhovnik and Sarah Kuceyeski for the Responsive Web Design class at Kent State University.</p>
      <p class="credit"><a href="../Patterns/patterns.html">Pattern Library</a></p>
    </footer>
  </body>
</html>
