<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Off the Vine Winery - Events</title>
    <meta name="Off the Vine Winery Events" content="Try our wonderful food items, paired with your favorite Off the Vine wine and enjoy our inviting atmosphere.">
    <link rel="icon" type="image/x-icon" href="../Assets/OffTheVine_Favicon.ico" />
  </head>

  <body>
      <link href="style.css" rel="stylesheet" type="text/css" media="screen" />
        <img src="../Assets/OffTheVine_Logo.svg" alt="offthevine_logo" class="logo" />
      <nav role="navigation">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">History</a></li>
          <li><a href="events.html">Events</a></li>
          <li><a href="#">Menu</a></li>
          <li><a href="#">Store</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>

      </header>

      <main>
        <div class="hero-wrapper hero-image5">
        </div>
        <div class="primary">
        <h1>Weekend Entertainment</h1>
        <dl>
          <dt>Dinner for the Cure! Thursdays 3:00-7:30pm</dt>
<dd>Laurello Vineyards continues to raise money for breast cancer research this year through our sale of t-shirts, raffle baskets and our Thursday night dinner specials. Dinner for Two
Large pizza of choice plus two side salads with house-made italian dressing – $16.99. All proceeds go to Making Strides Against Breast Cancer.</dd>
</dl>
        <h1>Entertainment Schedule</h1>
        <ul>Entertainment begins Fridays & Saturdays at 7pm, Sundays at 2pm
          <li>Friday, Sept. 4: Cold Shot Band</li>
          <li>Friday, Sept. 4: Cold Shot Band</li>
          <li>Saturday, Sept. 5: Light of Day Band</li>
          <li>Sunday, Sept. 6: Matt Aurigema</li>
          <li>Friday, Spet. 11: David Young</li>
          <li>Saturday, Sept. 12: Don Perry Duo</li>
          <li>Friday, Sept. 18: Steve Howell</li>
          <li>Saturday, Sept. 19: Take II</li>
          <li>Friday, Sept. 25: Valerie Marini</li>
          <li>Saturday, Sept. 26: Uncharted Course</li>
        </ul>
      </div>

      <div class="hero-wrapper hero-image6">
      </div>

      <div class="secondary">
        <h1 class="sec-h1">Private Occasions & Large Groups</h1>
        <p>Our Winery and Private Party Rooms are available to cater your Special Occasion, Rehearsal Dinner, Meeting, Birthday Party and more!
To inquire, contact the winery at 440-415-0661 for more information.</p>
        <p>We require a $25.00 non-refundable deposit which will be applied to your final bill. There is a 30 person limit for wine tastings for groups.
Group Tour Packages available</p>
        <h1>Tastings</h1>
        <h3>Walk-In Tastings – No Reservations Required</h3>
        <p>We offer three different settings for our walk-in tastings. Sample our famous Geneva Ohio wines and selected hand-crafted, winery-only Spotlight wines.</p>
        <p>Visit the To Kalon Tasting Room for Reserve wines and personal service in a luxurious, intimate setting. Our Spotlight Wine Club members enjoy exclusive access to limited-release wines in their private tasting room, the Spotlight Wine Club Lounge.</p>
        <dl>
          <dt>Vineyard Room</dt>
          <dd>Sample selected Classic and Spotlight wines, or enjoy wines by the glass. Prices vary.</dd>
          <dt>Kalon Room</dt>
          <dd>Sample four of our award-winning Reserve wines. $45 per person.</dd>
          <dt>Spotlight Wine Club Lounge</dt>
          <dd>Complimentary tasting for wine club members and up to three guests. $20 for each additional guest.<dd>
        </dl>
        <h4>Hours</h4>
        <p>Year round. Tasting Rooms open daily from 10:00 a.m. to 5:00 p.m., with last pour at 4:45 p.m.</p>
        <p>*Reservations 	are required for parties of 8 or more. Please call 330-672-3031 for more information.</p>
        <h3>Signature Tours and Tastings</h3>
        <p>A 90-minute experience featuring a walk through our vineyards and cellars, concluding with a sit-down guided wine tasting.</p>
        <p>Duration: 90 Minutes  Price: $35 Per Person</p>
        <p>This in-depth winery tour follows the path of the grape from the vineyard to the cellar to the finished wine. Guests walk into the Off the Vine, visit the winemaking cellars (including fermentation and barrel aging) and receive a seated educational tasting of three wines with one of our wine education specialists. Advanced reservations are recommended.</p>
        <h4>Hours</h4>
        <p>Year round, with increased frequency due to seasonality</p>
        <h4>Notes</h4>
        <p>Limited to 15 guests</p>
        <p>Advanced reservations are recommended. Due to the nature of this tour, children under 13 years of age are not permitted.</p>
      </div>
      </main>
      <footer role="contentinfo">
        <h2>Contact</h2>
        <dl>
          <dt>Address</dt>
          <dd>1050 Riverside Road, Geneva, OH 44205</dd>
          <dt>Phone</dt>
          <dd>800-672-3031 or local 330-672-3031</dd>
          <dt>Email</dt>
          <dd><a href="mailto:info@onthevinevinyards.com">info@onthevinevinyards.com</a></dd>
        </dl>
        <p class="credit">Website designed by John Vrhovnik and Sarah Kuceyeski for the Responsive Web Design class at Kent State University.</p>
        <p class="credit"><a href="../Patterns/patterns.html">Pattern Library</a></p>
      </footer>
    </body>
  </html>
