<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Off the Vine Winery</title>
    <meta name="Off the Vine Winery" content="Off the Vine is a boutique winery featuring handcrafted, award-winning wines served in an old world setting.">
    <link rel="icon" type="image/x-icon" href="../Assets/OffTheVine_Favicon.ico" />
  </head>

  <body>
      <link href="style.css" rel="stylesheet" type="text/css" media="screen" />
      <header role="banner">
        <img src="../Assets/OffTheVine_Logo.svg" alt="offthevine_logo" class="logo" />
      <nav role="navigation">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">History</a></li>
          <li><a href="events.html">Events</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Store</a></li>
          <li><a href="#">Menu</a></li>
        </ul>
      </nav>
    </header>


      <main role="main">
        <div class="hero-wrapper hero-image1">
        </div>
    <div class="primary">
      <h1>Experience the Winery & Vineyards</h1>

      <p class="emdash">—</p>
      <p class="secparaopt">Off the Vine is a boutique winery featuring handcrafted, award-winning wines served in an old world setting. Stop by and spend a little time in our cozy cantina!</p>
      <p>Try our wonderful food items, paired with your favorite Off the Vine wine and enjoy our inviting atmosphere. Ask any of our wine servers about the wines, upcoming events, or new wine releases. We will be waiting to assist you and make your visit to Off the Vine special.
With a large group or bus tour? We take pride in making your visit to Off the Vine a personalized experience.</p>

      <a href="about.html" class="button">Read More</a>
  </div>

  <div class="hero-wrapper hero-image4">
  </div>

      <div class="secondary">
      <h2>Hours</h2>
      <h3>Main Season</h3>

      <ul class="hours">
        <li>Mon-Tues: Closed</li>
        <li>Wednesday: Noon-4:00pm</li>
        <li>Thursday: Noon-8:00pm</li>
        <li>Friday: Noon-10:00pm</li>
        <li>Saturday: Noon-10:00pm</li>
        <li>Sunday: Noon-5:00pm</li>
      </ul>

    </div>

    </main>

    <footer role="contentinfo">
      <h2>Contact</h2>
      <dl>
        <dt>Address</dt>
        <dd>1050 Riverside Road, Geneva, OH 44205</dd>
        <dt>Phone</dt>
        <dd>800-672-3031 or local 330-672-3031</dd>
        <dt>Email</dt>
        <dd><a href="mailto:info@onthevinevinyards.com">info@onthevinevinyards.com</a></dd>
      </dl>
      <p class="credit">Website designed by John Vrhovnik and Sarah Kuceyeski for the Responsive Web Design class at Kent State University.</p>
      <p class="credit"><a href="../Patterns/patterns.html">Pattern Library</a></p>
    </footer>
  </body>
</html>
