@import url(https://fonts.googleapis.com/css?family=Marcellus+SC|Varela+Round);

* {
  box-sizing: border-box;
}

body {
  font-family: 'Varela Round', Arial, sans-serif;
  color: rgb(60,75,98);
  margin: 0;
}

header {
    text-align: center;
    background-color: rgb(201,185,162);
    padding-top: 1em;
    padding-bottom: 1em;
}
p {
  max-width: 900px;
  margin: 0 auto;
}

.logo {
  position: 0 auto;
  max-width: 300px;
}

h1 {
  color: white;
  font-family: 'Marcellus SC', Arial, sans-serif;
  text-transform: lowercase;
  text-align: center;
  font-size: 2.5em;
}

h2 {
  text-align: center;
  color: rgb(198,107,102);
  text-transform: uppercase;
  font-size: 1.8em;
  letter-spacing: 3px;
}
h3 {
  text-align: center;
  font-size: 1.4em;
}

.primary {
  background-color: rgb(201,185,162);
  width: 100%;
  padding: .5em 2.5em 3em 2.5em;
}

.secondary {
  width: 100%;
  padding: .5em 2.5em 3em 2.5em;
  margin: 0;
}

.fieldimg {
  width: 100%;
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 1.2em;
  text-align: center;
}

nav {
  font-family: 'Marcellus SC', Arial, sans-serif;
  color: white;
  text-transform: lowercase;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}
nav a:hover {
  color: rgb(60,75,98);
}

.button {
  display: inline-block;
  text-align: center;
  position: 0 auto;
  text-decoration: none;
  border: 3px solid rgb(60,75,98);
  padding: .75em 1.75em;
  font-size: .9em;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(60,75,98);
}

.button:after {
  content: "+"
}

.button:hover {
  border: white;
}


footer dl {
  width: 100%;
  padding: 3em;
  background-color: rgb(230,222,212)
}
footer a {
  color: rgb(198,107,102);
  text-decoration: none;
}
a:hover {
  color: white;
}

footer {
  text-align: center;
}

footer dt {
  font-family: 'Marcellus SC', Arial, sans-serif;
  font-size: 1.75em;
  text-transform: lowercase;
  margin-bottom: .5em;
}
footer dd {
  margin: 0;
  line-height: 1em;
  margin-bottom: .75em;
}
