@import url(https://fonts.googleapis.com/css?family=Marcellus+SC|Varela+Round);

* {
  box-sizing: border-box;
}

body {
  font-family: 'Varela Round', Arial, sans-serif;
  color: rgb(60,75,98);
  margin: 0;
}

header {
    text-align: center;
}

.logo {
  position: 0 auto;
  max-width: 300px;
}

h1 {
  color: white;
  font-family: 'Marcellus SC', Arial, sans-serif;
  text-transform: lowercase;
  text-align: center;
  font-size: 2.5em;
}

h2 {
  color: rgb(198,107,102);
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 3px;
  text-align: center;
}

.primary {
  background-color: rgb(201,185,162);
  width: 100%;
  padding: 3em;

}

.secondary {
  width: 100%;
  padding: 3em;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav ul {
  font-family: 'Marcellus SC', Arial, sans-serif;
  color: white;
  text-transform: lowercase;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}

footer {
  width: 100%;
  padding: 3em;
  background-color: rgb(230,222,212)
}
