@import url(https://fonts.googleapis.com/css?family=Marcellus+SC|Varela+Round);

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Varela Round', Arial, sans-serif;
  color: rgb(60,75,98);
  margin: 0;
}

header {
    text-align: center;
    background-color: rgb(201,185,162);
    padding-top: 1em;
    padding-bottom: 1em;
}
p {
  max-width: 900px;
  margin: 0 auto;
}
.secpara {
  padding-top: 1.5em;
  font-size: 1.2em;
  text-align: center;
}

blockquote {
  display: inline-block;
  padding: 0 2em;
  font-size: 1.15em;
  color: white;
  text-align: center;
  position: relative;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(60,75,98,.85);
  height: 100%;
}

blockquote::before {
  content: "\201C";
  color: rgb(201,185,162);
  margin-right: 5px;
}

blockquote::after {
  content: "\201D";
  color: rgb(201,185,162);
  margin-left: 3px;
}

@media screen and (min-width: 500px) {
  blockquote {
    font-size: 1.3em;
    max-width: 850px;
    line-height: 1.4em;
  }
}

@media screen and (min-width: 600px) {
  blockquote {
    font-size: 1.45em;
    max-width: 850px;
    line-height: 1.4em;
  }
}
@media screen and (min-width: 800px) {
  blockquote {
    font-size: 1.6em;
    max-width: 850px;
    line-height: 1.4em;
  }
}

.logo {
  position: 0 auto;
  max-width: 300px;
}

.emdash {
  text-align: center;
  font-size: 2.25em;
  padding: .25em;
}

h1 {
  color: white;
  font-family: 'Marcellus SC', Arial, sans-serif;
  text-transform: lowercase;
  text-align: center;
  font-size: 2.75em;
  line-height: 45px;
  margin: 0 auto;
}
.sec-h1 {
  color: rgb(198,107,102);
}

h2 {
  text-align: center;
  color: rgb(198,107,102);
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 3px;
}
h3 {
  text-align: center;
  font-size: 1.2em;
  padding: .5em;
  text-transform: uppercase;
}

.primary {
  background-color: rgb(201,185,162);
  width: 100%;
  padding: 2.5em;
  margin: 0;
}

.secondary {
  width: 100%;
  padding: 2.5em;
  margin: 0;
}

.hero-wrapper {
  height: 300px;
  background-size: cover;
  background-position: bottom;
}

.hero-image1 {
  background-image: url(../Assets/images/Image7.jpg);
}

.hero-image2 {
  background-image: url(../Assets/images/Image6.jpg);
}

.hero-image3 {
  background-image: url(../Assets/images/Image5.jpg);
}

.hero-image4 {
  background-image: url(../Assets/images/Image11.jpg);
}


nav {
  font-family: 'Marcellus SC', Arial, sans-serif;
  color: white;
  text-transform: lowercase;
  padding-top: .5em;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1.4em;
    transition: all .1s ease;
}
nav a:hover {
  color: rgb(198,107,102);
}
nav ul {
  font-size: 1em;
}

.hours {
  width: 100%;
  margin: 0 auto;
  max-width: 650px;
  padding-top: .75em;
  line-height: 2em;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 1em;
  text-align: center;
  line-height: 30px;
  -webkit-columns: 200px 2;
  -moz-columns: 200px 2;
  columns: 200px 2;
}

@media screen and (min-width: 600px) {
  nav ul {
    -webkit-columns: 200px 3;
    -moz-columns: 200px 3;
    columns: 200px 3;
  }
}

@media screen and (min-width: 800px) {
  nav ul{
    width: 100%;
  }
  nav ul {
    -webkit-columns: auto auto;
    -moz-columns: auto auto;
    columns: auto auto;
    position: absolute;
    top: 0;
    padding: .45em 1em;
  }
  nav li {
    display: inline;
    padding: 1.2em 1.4em;
    font-size: 1em;
    text-align: center;
  }
  nav ul li:first-child, nav ul li:nth-child(2), nav ul li:nth-child(3) {
    float: left;
  }
  nav ul li:nth-child(4), nav ul li:nth-child(5), nav ul li:nth-child(6) {
    float: right;
  }
  header {
    padding-bottom: .2em;
  }
}
@media screen and (min-width: 950px) {
  nav li {
    padding: 1.2em 1.5em;
    font-size: 1.1em;
  }
  nav ul {
    max-width: 950px;
    margin: 0 auto;
  }
  nav {
    max-width: 950px;
    margin: 0 auto;
  }
}

.button {
  display: block;
  text-align: center;
  width: 50%;
  min-width: 170px;
  max-width: 220px;
  margin: 0 auto;
  margin-top: 2em;
  position: relative;
  text-decoration: none;
  border: 3px solid rgb(198,107,102);
  padding: .75em 1em .75em 1.25em;
  font-size: .9em;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(198,107,102);
  transition: all .1s ease;
}

.button::after {
  content: "▶";
  font-size: .7em;
  padding-left: 1em;
}

.button:hover {
  border: 3px solid rgb(198,107,102);
  background-color: rgb(198,107,102);
  color: rgb(201,185,162);
}

.test dt {
  color: rgb(198,107,102);
  text-align: center;
  font-size: 1.5em;
  padding-bottom: 1em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.test dd {
  padding-bottom: 3em;
}

.test {
  max-width: 900px;
  margin: 0 auto;
}


footer h2 {
  padding-bottom: .5em;
}

footer {
  width: 100%;
  padding: 2.5em;
  background-color: rgb(230,222,212)
}
footer a {
  color: rgb(198,107,102);
  text-decoration: none;
}
a:hover {
  color: white;
}

footer {
  text-align: center;
}

footer dt {
  font-family: 'Varela Round', Arial, sans-serif;
  font-size: 1.2em;
  text-transform: uppercase;
  padding-bottom: .5em;
}
footer dd {
  margin: 0;
  line-height: 1.5em;
  padding-bottom: 1em;
}
@media screen and (min-width: 750px) {
  footer dl {
    max-width: 1200px;
    margin: 0 auto;
    -webkit-columns: 200px 3;
    -moz-columns: 200px 3;
    columns: 200px 3;
  }
}

.credit {
  font-size: .8em;
  padding-top: 1em;
}

@media screen and (min-width: 600px) {
  }
  main dl, footer dl {
    font-size: 1.1em;
  }
  h1 {
    font-size: 2.75em;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.4em;
  }
}


@media screen and (min-width: 800px) {
  p {
    font-size: 1.15em;
  }
  main dl, footer dl {
    font-size: 1.2em;
  }
  h1 {
    font-size: 3.5em;
  }
  h2 {
    font-size: 2.5em;
  }
  h3 {
    font-size: 1.7em;
  }
}
